@font-face {
  font-family: Cubano;
  src: url(./fonts/cubano-regular-webfont.woff)
}
$family-sans-serif: Cubano, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
@import 'node_modules/bulma/bulma.sass';

.expand {
  width: 100%;
}